/* navigation section */
.topnav {
	background-color: #e23e57;
	padding: 50px;

}

.topnav-right {
	float:right;
}

.topnav-right a:hover {
	color: black;
}
a{
	text-decoration: none;
	padding: 5px 15px;
	color: #ffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;

}
