.top-container {
	background-image: linear-gradient(15.9deg, rgba(240, 30, 30, 0.50) 40.2%, rgba(10, 13, 13, 0.30) 60.3%), url("/home/ayub/Desktop/portfolio/images/background.jpg");
	height: 800px;
	background-size: 2000px 1100px;
}

/* navigation section */
.topnav {
	padding: 50px;
}

.topnav-right {
	float: right;
	margin: 0 17%;
}

.topnav-right a:hover {
	color: #61c0bf;;
}

a {
	text-decoration: none;
	padding: 5px 15px;
	color: #ffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;
}

.top-container h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 150px;
	margin-left: 700px;
	color: #61c0bf;
	display: block;
	margin-bottom: -1%
}

.top-container p {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	margin-left: 305px;
	display: block;
	margin: 0 300px -70px;
	text-align: center;
	color: #61c0bf;



}
